#paginacao {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
    padding: 5px 0px 5px 5px;
    float: right;
    margin-right: -2px;
}

.paginacaoAtivo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #006633;
}

#cxPaginacao {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    float: left;
    height: 20px;
    width: 73%;
    margin-top: 10px;
    margin-left: 11px;
}

#totalRegitro {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
    width: 97%;
    padding-left: 4px;
    color: #FF0000;
}

#GaleriaPopup {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    width: 480px;
    height: 286px;
    margin: auto;
}

#tituloGaleriaPopup {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #003366;
    float: left;
    width: 480px;
    margin-bottom: 10px;
    padding-left: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000099;
    margin-top: 4px;
}

#meioGaleriaPopup {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    width: 476px;
    height: 230px;
    padding-left: 4px;
}

#GaleriaBotoes {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 21px;
    width: 480px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
}

#menuNews {
    float: left;
    width: 148px;
    margin-left: 3px;
    text-align: center;
}

#cxLogin {
    float: none;
    height: 150px;
    width: 390px;
    border: 1px solid #CCCCCC;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

#cxLoginTopoInicial {
    float: left;
    height: 25px;
    width: 390px;
    background-image: url(../img/bar_topo_log.jpg);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
}

#cxLoginText {
    float: left;
    height: 19px;
    width: 80px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 5px;
}

#cxLoginInput {
    float: left;
    height: 22px;
    width: 295px;
    padding-top: 2px;
    padding-left: 5px;
    margin-top: 5px;
}

.input01 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    border: 1px solid #666666;
    height: 14px;
    margin-top: 1px;
}

.input02 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    border: 1px solid #CAEEFF;
    height: 14px;
    margin-top: 1px;
}

#cxLoginBotao {
    float: left;
    width: 300px;
    padding-left: 90px;
    margin-top: 10px;
    height: 30px;
    padding-top: 2px;
}

.botaoLogin {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #666666;
    background-image: url(../img/bar_topo_log.jpg);
    color: #FFFFFF;
    text-align: center;
}

.botao01 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #666666;
    background-image: url(../img/bar_topo_log.jpg);
    color: #FFFFFF;
    text-align: center;
    height: 26px;
}

.botao02 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 28px;
    width: 100px;
    padding: 2px;
    border: 1px solid #666666;
    background-image: url(../img/bar_topo_log.jpg);
    color: #FFFFFF;
    text-align: center;
}

.botao03 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 2px;
    border: 1px solid #666666;
    background-image: url(../img/bar_topo_log.jpg);
    color: #FFFFFF;
    text-align: center;
}

.botao04 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 2px;
    border: 1px solid #666666;
    background-image: url(../img/bar_topo_log.jpg);
    color: #FF0000;
    text-align: center;
}

#cxTopoLogo {
    float: left;
    height: 52px;
    width: 134px;
    margin-left: 10px;
    margin-top: 10px;
}

#cxTopoTexto {
    float: left;
    height: 85px;
    width: 430px;
    margin-left: 10px;
    padding-top: 7px;
}

#cxIndexTextoBVindos {
    height: 350px;
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify
}

#cxIndexBotoesAcao {
    float: left;
    height: 180px;
    width: 450px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#cxIndexBtnIcons {
    float: left;
    height: 92px;
    width: 65px;
    margin-left: 25px;
    margin-top: 5px;
    text-align: center;
}

#cxIndexBtnIconsImg {
    float: left;
    height: 64px;
    width: 64px;
}

#cxIndexBtnIconsDesc {
    float: left;
    height: 23px;
    width: 65px;
    margin-top: 3px;
}

#contIndWhilePg {
    float: left;
    width: 100%;
}

.descFundo01 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-image: url(../img/bar_menu_top.jpg);
    padding-left: 5px;
    border: 1px solid #EEEEEE;
    height: 20px;
    padding-top: 2px;
}

#aba01 {
    width: 90px;
    float: left;
    margin-left: 5px;
    height: 20px;
    padding-top: 2px;
    background-color: #EFEFEF;
    text-align: center;
    font-weight: bold;
}

#abalateralesq {
    background-image: url(../img/aba_esq_det_imovel.gif);
    height: 24px;
    width: 8px;
    float: left;
    background-repeat: no-repeat;
    background-color: #EFEFEF;
}

#aba_total_menu_des {
    width: 360px;
    float: left;
    height: 24px;
    margin-left: 10px;
    padding-left: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
}

#abalateralesq_dest {
    background-image: url(../img/aba_esq_det_imovel_escura.gif);
    height: 24px;
    width: 8px;
    float: left;
    background-repeat: no-repeat;
    background-color: #999999;
}

#abalateralmeio {
    float: left;
    height: 19px;
    width: 100px;
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    padding-top: 5px;
    text-align: center;
}

#abalateralmeio2 {
    float: left;
    height: 19px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    padding-top: 5px;
    text-align: center;
}

#abalateralmeio_dest {
    float: left;
    height: 19px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    padding-top: 5px;
    text-align: center;
    background-color: #FFFFFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-left-color: #000000;
}

#abalateraldir_dest {
    background-image: url(../img/aba_dir_det_imovel_escura.gif);
    float: left;
    height: 24px;
    width: 8px;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-color: #999999;
}

#abalateraldir {
    background-image: url(../img/aba_dir_det_imovel.gif);
    float: left;
    height: 24px;
    width: 8px;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-color: #EFEFEF;
}

#abalateralmeio_fotos {
    float: left;
    height: 19px;
    width: 80px;
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    padding-top: 5px;
    text-align: center;
}

#abalateralmeio_planta {
    float: left;
    height: 19px;
    width: 90px;
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    padding-top: 5px;
    text-align: center;
}

#cxContFormMantucao {
    float: left;
    height: 100%;
    width: 98%;
    margin-top: 5px;
}

.linkImg {
    cursor: pointer;
    cursor: hand;
}

#itensImovelCat {
    float: left;
    height: 250px;
    width: 100%;
    overflow: auto;
}

#cxMeioAlbumImgMini {
    float: left;
    height: 100%;
    width: 100%;
}

.linkPaginacao {
    border-color: #E3E4E5 #999 #999 #E3E4E5;
    border-style: solid;
    border-width: 2px;
    background: #C7C7C7;
    width: 20px;
    height: 14px;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    float: left;
    color: #000000;
}

.linkPaginacaoAtivo {
    border-color: #E3E4E5 #999 #999 #E3E4E5;
    border-style: inset;
    border-width: 2px;
    background: #C7C7C7;
    width: 20px;
    height: 14px;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    float: left;
    color: #000000;
}

#cxMenusNews {
    padding: 3px;
    float: left;
}

#cxEditarNewsTexto {
    background-color: #CAEEFF;
    float: left;
    height: auto;
    width: 100%;
    text-align: left;
}

#cxCad_produto {
    float: left;
    height: 100%;
    width: 762px;
    margin-left: 8px;
}

#cxIndexList {
    float: left;
    width: 99%;
    margin-left: 1%;
    height: 100%;
}

#cxCad_SubCategoria {
    float: left;
    height: 360px;
    width: 762px;
    margin-left: 8px;
}

#cxImgEdtProd {
    float: left;
    height: 90px;
    width: 120px;
    overflow: hidden;
}

#cxImgExcEdtProd {
    float: left;
    height: 20px;
    width: 120px;
    margin-top: 5px;
    text-align: center;
}

#cxDetPedidoAll {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

#destalhePedido {
    float: left;
    height: 100%;
    width: 98%;
    margin-top: 8px;
    padding-left: 1%;
}

#itensDetPedido {
    float: left;
    height: 100%;
    width: 98%;
    margin-top: 10px;
    padding-left: 1%;
}

#opcaoDetPedido {
    float: left;
    height: 100%;
    width: 98%;
    margin-top: 20px;
    padding-left: 1%;
    padding-bottom: 15px;
    text-align: center;
}

* html .GB_overlay {
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    -moz-opacity: 0.6;
    z-index: 2;
}

/* Aplicando a background-image para os outros navegadores */
.GB_overlay {
    position: absolute;
    background-image: url(../img/overlay.png);
    top: 0;
    left: 0;
    z-index: 2;
}

#cxInicioTransDiv {
    height: 210px;
    width: 430px;
    left: 150px;
    background-color: #FFFFFF;
    top: 225px;
    border: 2px groove #CCCCCC;
    opacity: 1;
    filter: alpha(opacity = 100);
    position: absolute;
    z-index: 999;
    margin: auto;
}

.closeDivTrans {
    background-color: #888888;
    height: 18px;
}

.trSel {
    background-color: #FF9900;
}

/* INICIO - Tabela de frete */
.opcoesAreaBtn {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.opcoesAreaBtn li {
    border: 1px solid #666;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    background: #F5F5F5;
}

.opcoesAreaBtn li a {
    float: left;
    padding: 4px 10px;
}

.opcoesAreaBtnAtivo a, .opcoesAreaBtnAtivo li {
    color: #F90;
}

.opcoesAreaBtn li a, .opcoesAreaBtn li {
    font-size: 13px;
    font-weight: bold;
    outline: none;
}

/* FIM - Tabeï¿½a de Frete*/
#loading_area {
    display: none;
    background: #000;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#loading_area_img {
    margin-left: 0%;
    margin-top: 0%;
    left: 0px;
    top: 0px;
    display: none;
    background: url(../img/loader_bar.gif);
    width: 220px;
    height: 19px;
    position: absolute;
    z-index: 99999;
}

#barraNavegacaoOrcamento {
    float: left;
    height: 40px;
    width: 100%;
    margin-top: 5px;
}

#cxBarraNavegacaoOpcaoAtivo {
    float: left;
    height: 22px;
    width: 100%;
    padding-top: 6px;
    padding-left: 20px;
    background-color: #666666;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFF00;
}

#cxBarraNavegacaoNovoItem {
    float: right;
    background-color: #EFEFEF;
    height: 22px;
    padding: 6px 5px 0px 5px;
    text-align: center;
    color: #999;
}

#cxBarraNavegacaoNovoItem a {
    font-weight: bold;
    color: #666666;
    outline: none;
    font-size: 12px;
}

#cxBarraNavegacaoNovoItem a:hover {
    text-decoration: underline;
}

.lnk_barra_navegacao_ativo:active, .lnk_barra_navegacao_ativo:link,
.lnk_barra_navegacao_ativo:visited {
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFF00;
    text-decoration: none;
}

.lnk_barra_navegacao_ativo:hover {
    text-decoration: underline;
}

.lnk_barra_navegacao_inativo:active, .lnk_barra_navegacao_inativo:link,
.lnk_barra_navegacao_inativo:visited {
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
}

.lnk_barra_navegacao_inativo:hover {
    text-decoration: underline;
}

#cxBarraNavegacaoOpcaoAtivo2 {
    float: left;
    height: 22px;
    width: 100px;
    padding-top: 6px;
    padding-left: 20px;
    background-color: #666666;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #D6D6D6;
}

#cxBarraNavegacaoAtivoSeta {
    background-image: url(../img/div3.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
    background-color: #EFEFEF;
}

#cxBarraNavegacaoAtivoSeta2 {
    background-image: url(../img/div2.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
    background-color: #EFEFEF;
}

#cxBarraNavegacaoOpcaoInativo {
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    background-color: #EFEFEF;
    float: left;
    height: 22px;
    width: 100px;
    padding-top: 6px;
    padding-left: 20px;
}

#cxBarraNavegacaoInativoSeta {
    background-image: url(../img/div.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
}

#cxBarraNavegacaoInativoSeta2 {
    background-image: url(../img/div4.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
}

#cxBarraNavegacaoInativoSeta3 {
    background-image: url(../img/div6.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
}

#cxBarraNavegacaoAtivoSetaUlt {
    background-image: url(../img/div5.gif);
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    width: 17px;
}

.bt_l {
    float: left;
}

.bt_r {
    float: right;
}

.bt_l_i {
    color: #888;
}

.bt {
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: medium none;
    white-space: nowrap;
    min-width: 85px;
    _width: 85px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

button.bt {
    height: 30px;
    font-size: 13px;
}

.bt {
    background: #F9F9F9; /* para browsers sem suporte a CSS 3 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9',
        endColorstr='#E3E3E3'); /* IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9),
        to(#E3E3E3)); /* webkit browsers */
    background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
    /* Firefox 3.6+ */
    -moz-border-radius: 3px 3px 3px 3px;
}

.bt:hover {
    border: 1px solid #777;
}

#meio_conteudo_frm {
    float: left;
    width: 100%;
    height: 100%;
}

.cxProdutoImgMini {
    float: left;
    height: 75px;
    width: 95px;
    background-color: #FFFFFF;
    padding: 2px;
    border: 1px solid #CCCCCC;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.cxProdutoImgMiniFunc {
    float: left;
    height: 18px;
    width: 105px;
    padding-top: 2px;
    text-align: center;
}

.cxProdutoImgMini {
    /*cursor:move;*/

}

.cxProdutoImgMiniAll {
    float: left;
    height: 150px;
    width: 130px;
    margin-right: 10px;
}

.cxProdutoImgMini {
    float: left;
    height: 90px;
    width: 100%;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.cxProdutoImgMiniFunc {
    float: left;
    height: 18px;
    width: 100%; /*105px;*/
    padding-top: 2px;
    text-align: center;
}