<form method="#method#" action="" class="">
    <div class="form-group">
        <input name="pg" value="#pg#" type="hidden">
        <input name="acao" value="#acao#" type="hidden">
        <input name="id" value="#id#" type="hidden">
        #hiddens#
        <div class="input-group">
            <input name="#filtro#" class="form-control" style="width: 100%" type="text" value="#value#">
             <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search "></span> Pesquisar</button>
             </div>
        </div>
    </div>		
</form>